* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    border: 2px solid black;
    padding-left: 10px;
    background-color: #23273C;
    background-repeat: no-repeat;
    background-size: auto;
}

.title {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-pills {
    padding-top: 50px;
}

.top-button {
    color: #fff;
    font-weight: bold;
}

.menu {
    border-style: solid;
    position: absolute;
    background-color: #EBEDF4;
    border-color: #EBEDF4;
    width: 60%;
    border-radius: 1%;
    padding-bottom: 20px;

}

.main{
    margin-top: 10px;
}

.category-button{
    margin-bottom: 25px;
    border-radius: 8px;
}


.font-weight-bold {
    color: #563D7C;
}
