* {
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ECEDF7
}

.title{color: #492FAB;}

.heading{color: #313756;
    font-size: 30px;
 }
.home{color :  #0080ff;}
.conform{color : #EC7063;}
.info{color: #33448c;
    font-weight: bold;
    font-size: 20px;
}
.Name{color : #EC7063;
    font-weight: bold;
    font-size: 15px;}
    
.file{color : #EC7063;}
.description{font-size: 18pt; height: 40px; width:280px;}
.font-weight-bold{color : #48588c;}
.header {
    /*border: 2px solid black; */
    padding-left: 10px;
    background-color: #871b22;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.details {
    color: #37406B;
    font-weight: bold;
    font-size: 30px;

}
.resize {
    width: 300px;
    height: auto;
  }

.detail {
    color: #37406B;
    font-weight: bold;
    font-size: 20px;

}
.font{
    color: #910000;
    font-size: 20px;

}
.font1{
    color: #910000;
    font-size: 10px;

}
.text {
    color: #4267B2;
    font-size: 15px;

}
.column {
    float: left;
    width: 50px;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .box{
    font-size: 150%;
    border-style: solid;
    background-color:rgb(247, 244, 244, 0.7);
    border-color:  rgb(232, 220, 220, 0.6);
    width:70%;
    border-radius: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left:230px;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
}


.menu {
    border-style: solid;
    position: absolute;
    background-color: #E8DCDC;
    border-color: #E8DCDC;
    width: 230px;
    border-radius: 1px;
    padding-bottom: 110px;

}

.title {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-pills {
    padding-top: 50px;
}

.top-button {
    color: #fff;
    font-weight: bold;
}

.font-weight-bold {
    color: #563D7C;
}
.font1{
    color: #CD5C5C;
    font-size: 15px;

}
.info3{
    color: #CD5C5C;
    font-size: 20px;

}
.buttons {
    
     margin-left: 200px;
     margin-top: 80px;
 }
 .sidenav {
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 1;
    top: 112px;
    left: 10;
    background-color: #844345;
    overflow-x: auto;
    padding-top: 20px;
    
}
 .sidenav a {
     padding:  16px;
     text-decoration: none;
     font-size: 15px;
     color: #ffffff;
     display: block;
 }
 .sidenav a.active {
    background-color: #834346;
    color: white;
  }
  
 .sidenav a:hover:not(.active) {
     background-color: #834346;
     color: #f1f1f1;
 }
 div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
 .main {
     margin-left: 500px; /* Same as the width of the sidenav */
     font-size: 20px; /* Increased text to enable scrolling */
     padding: 0px 50px;
     
 }
 
 @media screen and (max-width: 200px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
 @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
     .sidenav a { float: none;}
 }
 
 
   
   .header a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   .header a:hover {
     background: #ddd;
     color: black;
   }
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#851D25;
    color: white;
    text-align: center;
   }
  